@font-face{
 font-family: 'vazir';
 src: url('../fonts/Vazir.ttf') format('truetype'),
 url('../fonts/Vazir.woff') format('woff'),
 url('../fonts/Vazir.woff2') format('woff2');
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'vazir';
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
